
body{
	background: rgb(92,92,92);
	background: linear-gradient(180deg, rgba(92,92,92,1) 0%, rgba(62,62,85,1) 48%, rgba(37,37,37,1) 100%);color: #e4e4e4;
	overflow: hidden;
	height: 100%;
	position: relative;
}

